%h1 新しいフルーツを登録する
= bootstrap_form_with(model:@fruit, local:true) do |f|
  = f.file_field :image, placeholder: "画像を選択してください"
  = f.text_field :name, placeholder: "りんご"
  = f.text_field :variety, placeholder: "王林"
  = f.text_area :explain, placeholder: "王林は酸味,甘みがあり、主な産地は青森県などです。"
  = f.fields_for :origins do |origin|
    = origin.text_field :prefecture, placeholder: "青森県"
    = origin.text_field :city, placeholder: "青森市"
    .form-group.mt-2
      %h5.main-color-bottom-border 旬の月を選択
      - Season.tags_i18n.map do |k, v|
        = f.fields_for :seasons do |qt|
          = qt.label :month, v
          = qt.check_box(:month,{checked: false}, k ,false)
  = f.submit "登録する"
