%header
  %nav.navbar.navbar-expand-md.navbar-light
    = link_to "旬のフルーツ調べ太郎", root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarTogglerDemo02.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        - if user_signed_in?
          %li.nav-item.active
            = link_to '旬のフルーツ検索', "#", class: 'nav-link'
            -# %button.btn.btn-primary{:type => "button"} 旬のフルーツを探す！
          %li.nav-item.active
            = link_to 'フルーツを登録する', new_fruit_path, class: 'nav-link'
          %li.nav-item.active
            = link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link'
          %li.nav-item.active
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %li.nav-item.active
            = link_to "新規登録", new_user_registration_path, class: 'nav-link'
          %li.nav-item.active
            = link_to "ログイン", new_user_session_path, class: 'nav-link'