%h1 新しい品種を登録する
= bootstrap_form_with(model: @variety, local: true) do |f|
  = f.file_field :image, placeholder: "画像を選択してください"
  = f.text_field :name, placeholder: "王林"
  = f.text_area :explain, placeholder: "王林は甘みが強く酸味は少ない。主な産地は青森県などです。"
  = f.fields_for :origin do |o|
    = o.text_field :prefecture, placeholder: "青森県"
    = o.text_field :city, placeholder: "青森市"
  -# = f.fields_for :season do |s|
  -#   = s.number_field :month
  = f.submit "登録する"